.home {
    height: 100dvh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.home .header {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    position: fixed;
    top: 0;
}

.home .header .tracker {
    color: rgb(61, 158, 227);
}

.home .welcome-message {
    width: 100%;
    text-align: center;
    height: fit-content;
}

.home .welcome-wrapper {
    display: flex;
    justify-content: center;
}

.home .name {
    color: rgb(61, 158, 227);
}

.home .welcome-message h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.home .message-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home .message {
    width: fit-content;
    margin-bottom: 1rem;
}

.home .btn-wrapper {
    width: 92%;
}

.home .welcome-message .goTo {
    background-color: rgb(61, 158, 227);
    color: white;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

.home .auth-btn {
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    padding: 0.25rem;
}