@media screen and (min-width: 768px) {
  body {
    font-size: larger;
  }
  .workout-template-wrapper {
    width: 28vw;
    height: 28vw;
  }

  .history .workouts {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
  }

  .history .workouts li {
    list-style: none;
    width: 43vw;
    margin: 0;
  }

  .history .previous-workout {
    margin: 0;
  }
}

@media screen and (min-width: 900px) {
  .profile .profile-button-wrapper button {
    width: 26vw;
    margin-block: 1rem;
    padding-block: 2rem;
    font-size: large;
  }

  .profile .profile-button-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .templates {
    justify-content: space-between;
  }
  body .workout-template-wrapper {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user {
    width: 1440px;
  }
}
