

.workout-template-wrapper {
    border: 1px solid black;
    width: 45vw; 
    height: 45vw;
}

.workout-template {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workout-template .exercises {
    border: 1px solid red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
