.update-workout-prompt .delete-set-button-wrapper {
    width: auto;
}

.update-workout-prompt .delete-button {
    color: rgb(227, 80, 61);
    background-color: rgba(215, 55, 55, 0.25);
    border: none;
    border-radius: 0.5rem;
    padding: 0.1rem 0.3rem;
    font-weight: bold;
}

.update-workout-prompt .exercise-header {
    display: flex;
    gap: 0.5rem;
}

.update-workout-prompt .button-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.update-workout-prompt .button-wrapper button {
    border: none;
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 100%;
}

.update-workout-prompt .button-wrapper .update-button {
    color: rgb(36, 148, 36);
    background-color: rgba(38, 189, 38, 0.2);
}

.update-workout-prompt .button-wrapper .cancel-button {
    color: rgb(227, 80, 61);
    background-color: rgba(215, 55, 55, 0.25);
}

