.user-home {
    margin: 6vw;
    overflow-y: scroll;
    margin-bottom: 5rem;
}

.user-home .start-workout {
    background-color: rgb(61, 158, 227);
    color: white;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

.user-home .template-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.user-home .template-header button {
    color: rgb(61, 158, 227);
    background-color: rgba(61, 158, 227, 0.207);
    border: none;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    font-weight: 600;
}

.user-home .templates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
}