.workout {
    margin-top: 5rem;
    margin: 6vw;
}

/* Style WorkoutHeader */
.workout-header-input {
    border: 0;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.workout-header-input::placeholder {
    color: black;
}

/* Style Stopwatch */
/* .stopwatch .time {
    
} */

/* Style Main Buttons */
.add-exercise-button {
    border: none;
    background-color: rgba(55, 165, 215, 0.25);
    color: rgb(61, 158, 227);
    border-radius: 2px;
    width: 100%;
    font-weight: bold;
    padding: 0.25rem;
    margin-block: 1rem;
}

/* Style Search Bar */
.search-exercises {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(226, 226, 226);
    border-radius: 2px;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

/* Style Exercises */
.selected-exercises {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.selected-exercise {
    border-top: 1px solid black;
}

.exercise-name {
    text-transform: capitalize;
    font-weight: 700;
}

.exercise-bodypart {
    text-transform: capitalize;
}

.exercise-buttons-wrapper {
    display: flex;
    column-gap: 0.25rem;
    margin-bottom: 0.5rem;
}

.exercise-button {
    color: white;
    background-color: rgb(61, 158, 227);
    border: none;
    border-radius: 5px;
    padding: 0.25rem;
}

.active.exercise-button {
    color: red;
}



/* Style CurrentExercises */
.current-exercises-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.current-exercise {
    display: flex;
    flex-wrap: wrap;
}

.current-exercise-set {
list-style: none;
}

.sets {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.set-header {
    display: flex;
    justify-content: space-between;
}

.set-header div {
    min-width: 33%;
    display: flex;
    justify-content: center;
}

.set-data {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.set-data input {
    max-width: 33%;
    text-align: center;
}

.set-data div {
    min-width: 33%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.add-set-button {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 0.25rem;
    font-weight: bold;
    background-color: rgb(226, 226, 226);
}

.set-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.set-buttons-wrapper .rep-buttons {
    max-width: 33%;
}

.set-buttons-wrapper .remove-button {
    min-width: 66%;
}

.set-wrapper {
    display: flex;
    max-width: 100%;
}