.workout {
    margin: 3vw;
}

/* Style WorkoutHeader */
.workout-header-input {
    border: 0;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.workout-header-input::placeholder {
    color: black;
}

/* Style Stopwatch */
/* .stopwatch .time {
    
} */

/* Style Main Buttons */
.add-exercise-button {
    border: none;
    background-color: rgba(55, 165, 215, 0.25);
    color: rgb(61, 158, 227);
    border-radius: 2px;
    width: 100%;
    font-weight: bold;
    padding: 0.25rem;
    margin-block: 1rem;
}

.end-workout-button {
    border: none;
    background-color: rgba(215, 55, 55, 0.25);
    color: rgb(227, 80, 61);
    border-radius: 2px;
    width: 100%;
    font-weight: bold;
    padding: 0.25rem;
    margin-top: 1rem;
}

/* Style Search Bar */
.search-exercises {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(226, 226, 226);
    border-radius: 2px;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

/* Style Exercises */
.selected-exercises {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.selected-exercise {
    border-top: 1px solid black;
}

.exercise-name {
    text-transform: capitalize;
    font-weight: 700;
}

.exercise-bodypart {
    text-transform: capitalize;
}

.exercise-buttons-wrapper {
    display: flex;
    column-gap: 0.25rem;
    margin-bottom: 0.5rem;
}

.exercise-button {
    color: white;
    background-color: rgb(61, 158, 227);
    border: none;
    border-radius: 5px;
    padding: 0.25rem;
}

.active.exercise-button {
    color: black;
}



/* Style CurrentExercises */
.current-exercises-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.current-exercise {
    margin-block: 1rem;
}

.current-exercise .remove-exercise {
    background-color: white;
    color: red;
    border: none;
}

.current-exercise .name {
    color: rgb(61, 158, 227);
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.current-exercise-table {
    width: 100%;
    text-align: center;
}

.current-exercise-table input {
    text-align: center;
    max-width: 50px;
}

.remove-button button {
    background-color: white;
    color: red;
    border: none;
}

.add-set-button {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 0.25rem;
    font-weight: bold;
    background-color: rgb(226, 226, 226);
}