.workout {
    margin-top: 5rem;
}

/* Style WorkoutHeader */
.workout-header-input {
    border: 0;
    font-size: 1.5rem;
    color: black;
}

.workout-header-input::placeholder {
    color: black;
}

/* Style Stopwatch */
/* .stopwatch .time {
    
} */

/* Style Exercises */
.selected-exercises {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.selected-exercise {
    border-top: 1px solid black;
}

.exercise-name {
    text-transform: capitalize;
    font-weight: 700;
}

.exercise-bodypart {
    text-transform: capitalize;
}