.history {
    margin: 6vw;
}

.history li {
    list-style: none;
}

.previous-workout {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.5rem;
    margin-block: 1rem;
    padding: 0.5rem;
}

.previous-workout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous-workout-header .name {
    font-size: large;
}

.previous-workout .delete-previous-workout-button {
    color: rgb(227, 80, 61);
    background-color: rgba(215, 55, 55, 0.25);
    border: none;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
}

.previous-workout .date {
    margin-bottom: 0.25rem;
    font-size: small;
    font-style: italic;
}

.previous-workout .exercise-name {
    font-weight: 400;
}

.previous-workout li {
    margin-block: 1rem;
}

.previous-workout-sets-table {
    width: 100%;
    text-align: center;
}

.previous-workout .weight-wrapper {
    display: flex;
    justify-content: center;
}

.previous-workout .units {
    font-size: small;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.previous-workout .exercise-name {
    font-weight: bold;
}

.previous-workout-sets-table th {
    color: rgb(61, 158, 227);
}

.exercise-set-text {
    display: flex;
    text-transform: capitalize;
}

.exercise-set-text .sets-of {
    color: rgb(61, 158, 227);
}

.show-more-wrapper {
    text-align: center;
}

.previous-workout .show-more-wrapper button {
    border: none;
    color: rgb(61, 158, 227);
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: rgba(61, 158, 227, 0.2);
    font-weight: bold;
}

.history td {
    width: 33%;
}

.history td input {
    width: 33%;
    text-align: center;
}

.history .delete-set-button-wrapper {
    width: auto;
}

.history .update-workout-prompt .delete-button {
    color: rgb(227, 80, 61);
    background-color: rgba(215, 55, 55, 0.25);
    border: none;
    border-radius: 0.5rem;
    padding: 0.1rem 0.3rem;
    font-weight: bold;
}

.history .update-workout-prompt .exercise-header {
    display: flex;
    /* align-items: center; */
    gap: 0.5rem;
}