.profile {
    margin: 6vw;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block: 1rem;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.profile .initials {
    text-transform: uppercase;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 50%;
    padding: 0.5rem;
    color: rgb(61, 158, 227);
}

.profile .is-verified-wrapper {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.profile .verified-label {
    font-weight: bold;
}

.profile .resend-email-verification {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.profile .resend-email-verification .resend-email-button {
    color: white;
    background-color: rgb(61, 158, 227);
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.profile .logout {
    color: white;
    background-color: rgb(180, 180, 180);
    border: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 1rem;
}

.profile .stats {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.profile .stats .stat {
    display: flex;
    align-items: center;
    margin-block: 1rem;
}

.profile .unit {
    align-self: flex-end;
    font-size: small;
}

.update-user-info button {
    color: white;
    background-color: rgb(61, 158, 227);
    border: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
    width: 100%;
    margin-top: 1rem;
}