

.workout-template-wrapper {
    border: 1px solid rgb(180, 180, 180);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 43vw; 
    height: 43vw;
}

.workout-template {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workout-template h4 {
    width: 75%;
    overflow-x: scroll;
}

.remove-template-button {
    color: rgb(227, 80, 61);
    background-color: rgba(215, 55, 55, 0.25);
    border: none;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    font-weight: 600;
}

.workout-template .exercises {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* num of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.workout-template .date {
    font-size: small;
    font-weight: 100;
}

.templates li {
    list-style-type: none;
}