

.workout-template-wrapper {
    border: 1px solid rgb(180, 180, 180);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 43vw; 
    height: 43vw;
}

.workout-template {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workout-template h4 {
    width: 75%;
    white-space: nowrap;
    overflow-x: scroll;
    padding-bottom: 0.25rem;
}

.workout-template .exercises {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* num of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}

.template-date-start-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workout-template .date {
    font-size: small;
    font-weight: 100;
}

.workout-template .start-template-button {
    color: rgb(61, 158, 227);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    border: none;
    background-color: rgba(61, 158, 227, 0.20);
    text-transform: uppercase;
}

.templates li {
    list-style-type: none;
}